<h2>My Transactions</h2>

<%= display_current_balance(@current_balance) %>

<div class="float-right m-b-15">
  <%= link_to 'New Transaction', new_transfer_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>Sender</th>
  <th>Receiver</th>
  <th>Amount</th>
  <th>Currency</th>
  <th>Created At</th>
  <th>Status</th>
  </thead>
  <tbody>
  <% @transfers.each do |transfer| %>
    <tr>
      <td><%= transfer.id %></td>
      <td><%= transfer.sender&.name %></td>
      <td><%= transfer.receiver.name %></td>
      <td><%= display_amount(transfer.amount, transfer.receiver, current_user) %></td>
      <td><%= transfer.target_currency %></td>
      <td><%= formatted_date(transfer.created_at) %></td>
      <td><%= display_status(transaction_status(transfer.status)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
